<div class="well-sm well col-lg-6 col-lg-offset-3">
    <div class="pull-left btn-group">
        <a href="#/choosePlaylist" role="button" class="btn-success btn btn-sm">
            <span class="glyphicon-chevron-left glyphicon"></span>
            Return
        </a>
        <a href="#/" role="button" class="btn-success btn btn-sm">
            <span class="glyphicon-home glyphicon"></span>
            Home
        </a>
    </div>
    <div class="pull-right btn-group">
        <button class="btn-success btn btn-sm">
            Share
            <span class="glyphicon-share-alt glyphicon"></span>
        </button>
        <button class="btn-success btn btn-sm">
            Download
            <span class="glyphicon-download-alt glyphicon"></span>
        </button>
    </div>
</div>
