<div class="modal-header">
    <h3 class="modal-title text-center">Add a sequence</h3>
</div>
<div class="modal-body container-fluid">

    <div class="form-horizontal container-fluid col-lg-6">
        <h4 class="text-center">Selection Options</h4>
        <hr/>
        <div class="form-group" >
            <label for="selectType" class="col-lg-3">Type :</label>
            <div class="col-lg-9">
                <ol id="selectType" class="nya-bs-select" ng-model="typeSequence">
                    <li class="nya-bs-option" value="mandatory"> <a>Mandatory
                        <span class="glyphicon glyphicon-ok check-mark"></span></a> </li>
                    <li class="nya-bs-option" value="optional"> <a>Optional
                        <span class="glyphicon glyphicon-ok check-mark"></span></a> </li>
                    <li class="nya-bs-option" value="alternative"> <a>Alternative
                        <span class="glyphicon glyphicon-ok check-mark"></span></a> </li>
                </ol>
            </div>
        </div>
        <div class="form-group" ng-show="typeSequence == 'mandatory' || typeSequence == 'optional'">
            <label for="selectType" class="col-lg-3">Video :</label>
            <div class="col-lg-9">
                <ol class="nya-bs-select" ng-model="selectedVideo" data-live-search="true" >
                    <li nya-bs-option="video in videos">
                        <a>
                            {{ video.name }}
                            <span class="glyphicon glyphicon-ok check-mark"></span>
                        </a>
                    </li>
                </ol>
            </div>
        </div>
        <div class="form-group"  ng-show="typeSequence == 'alternative'">
            <label for="selectType" class="col-lg-3">Video :</label>

            <div class="col-lg-9">
                <ol class="nya-bs-select" ng-model="selectedVideos" data-live-search="true" multiple>
                    <li nya-bs-option="video in videos ">
                        <a>
                            {{ video.name }}
                            <span class="glyphicon glyphicon-ok check-mark"></span>
                        </a>
                    </li>
                </ol>
            </div>
        </div>
    </div>

    <div class="col-lg-6" ng-show="typeSequence == 'alternative'">
        <h4 class="text-center">Thumbnails</h4>
        <hr/>
        <div class="row container-fluid" ng-repeat="video in selectedVideos"  >
            <img ng-src="{{video.urlImg}}" alt="{{video.name}}" class=" img-responsive thumbnail">
        </div>
    </div>
    <div class="col-lg-6" ng-show="typeSequence == 'mandatory' || typeSequence == 'optional'">
        <h4 class="text-center">Thumbnails</h4>
        <hr/>
        <div class="row container-fluid" >
            <img ng-src="{{selectedVideo.urlImg}}" alt="{{selectedVideo.name}}" class=" img-responsive thumbnail">
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="valider()">Add</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
