<div class="container" ng-controller="createModelCtrl">
    <div class="row" ng-init="editName=false">
        <div class="col-lg-6 container-fluid">
            <h2 ng-show="!editName"><span >{{model.name}}</span> <span ng-click="editName=!editName" class="glyphicon glyphicon-edit"></span></h2>
            <div ng-show="editName">
                <label >
                    <input value="{{model.name}}" ng-model="model.name" class="form-control"/>
                </label>
                <button class="btn-primary btn" ng-click="editName=!editName" >Save</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 well well-sm ">
            <h3 class="text-center">Toolbox</h3>
            <hr />
            <div class="row container-fluid">
                <button type="button" class="btn btn-primary col-lg-7" ng-click="openModalSequence()">Add a sequence</button>
                <button type="button" class="btn btn-warning col-lg-offset-1 col-lg-4" ng-click="clearSequences()">Clear</button>
            </div>
            <br />
            <div class="row container-fluid">
                <button type="button" class="btn btn-success col-lg-12" ng-click="create()">Create</button>
            </div>
        </div>

        <div class="col-lg-8 col-lg-offset-1 well well-sm container">
            <h3 class="text-center">Sequence list</h3>
            <hr />
            <div class="list-group col-lg-12">
                <div  ng-repeat="sequence in model.sequence" class="list-group-item col-lg-12 ">
                    <div ng-if="sequence.type == 'mandatory' || sequence.type == 'optional'">
                        <span class="label label-default verticalAlign">{{sequence.type}}</span>
                        <span class="verticalAlign col-lg-offset-1">{{sequence.sequence.name}}</span>
                        <div class="pull-right btn-group btn-group-sm">
                            <button class="btn btn-primary btn-sm"> <span class="glyphicon glyphicon-picture"></span></button>
                            <button class="btn btn-primary btn-sm"> <span class="glyphicon glyphicon-edit"></span></button>
                            <button class="btn btn-danger btn-sm" ng-click="removeSequence($index)"> <span class="glyphicon glyphicon-remove"></span></button>
                        </div>
                    </div>
                    <div ng-if="sequence.type == 'alternative'" ng-init="isCollapse = false">
                        <span class="label label-default verticalAlign">{{sequence.type}}</span>
                        <span class="verticalAlign col-lg-offset-1">Number of sequence : {{sequence.listSequence.length}}</span>
                        <div class="pull-right btn-group btn-group-sm">
                            <button class="btn btn-primary btn-sm" ng-click="isCollapse = !isCollapse"> <span class="glyphicon" ng-class="{'glyphicon-chevron-up':isCollapse, 'glyphicon-chevron-down':!isCollapse}"></span></button>
                            <button class="btn btn-primary btn-sm"> <span class="glyphicon glyphicon-edit"></span></button>
                            <button class="btn btn-danger btn-sm" ng-click="removeSequence($index)"> <span class="glyphicon glyphicon-remove"></span></button>
                        </div>
                        <div uib-collapse="isCollapse" >
                            <hr>
                            <div class="list-group col-lg-4">
                                <div class="list-group-item" ng-repeat="sequence in sequence.listSequence">
                                    <span class="verticalAlign" >{{sequence.name}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
