<div class="col-lg-5 col-lg-offset-1 well well-sm container-fluid" ng-controller="mainCtrl">
    <div class="container-fluid col-lg-6">
        <h3 class="text-center"> Select a model </h3>
        <hr />
        <ol class="nya-bs-select col-lg-8 pull-left" id="selectPlaylist" ng-model="selectedPlaylist" data-live-search="true" >
            <li nya-bs-option="playlist in playlists">
                <a>
                    {{ playlist.name }}
                    <span class="glyphicon glyphicon-ok check-mark"></span>
                </a>
            </li>
        </ol>
        <button type="button" ng-click="genListVignette()" class="btn btn-primary col-lg-4 pull-right  ">Begin !</button>

    </div>
    <div class="container-fluid col-lg-6">
        <h3 class="text-center"> Create a model </h3>
        <hr />
        <div class="col-lg-12 " >
            <a role="button" href="#/creationPlaylist" type="button" class="btn btn-success col-lg-12">Create !</a>
        </div>
    </div>
</div>

<div class="col-lg-4 col-lg-offset-1 well well-sm container-fluid text-justify">
    <h3 class="text-center">Génération de vidéo aléatoire</h3>
    <h5 class="text-center"><small> Projet réalisé dans le cadre de notre Cursus de Master 2 Génie Logiciel en alternance.</small></h5>
    <hr />
    <p>Le languages <strong><a href="https://eclipse.org/Xtext/">Xtext</a></strong> nous a permis de realiser les modéles utilisés dans ce projet.
    Les transformations <i>model-to-text</i> et <i>model-to-model</i> on été codées en <strong><a href="https://eclipse.org/xtend/">Xtend</a></strong>.
    Transformation que nous avons ensuite importé dans une stack technique <strong><a href="https://jhipster.github.io/">JHipster</a></strong> générée avec <strong><a href="http://yeoman.io/">Yoeman</a></strong>.</p>
    <p>Vous pouvez retourver le code source sur notre dépot <a href="https://bitbucket.org/tp_gla_1516/idm_project/admin"><span class="glyphicon glyphicon-folder-open"></span></a> </p>
</div>

