<div ng-controller="playerCtrl" >
    <div class="col-lg-8" ng-include="'player.html'"></div>
    <div class="container-fluid col-lg-4">
        <button class="btn btn-success">
            Download
            <span class="glyphicon glyphicon-download"></span>
        </button>
    </div>
</div>
