<div class="container-fluid" ng-controller="playerCtrl" >
    	<div ng-include="'views/partials/barMenuPlayer.html'"></div>	<input type="hidden" id="playlist" value="/resources/playlist/Model1_flowPlayer.m3u8">
	<a class="col-lg-offset-3 col-lg-6" style="display: block; width: 660px; height: 350px;" id="player"></a>
</div>
