<div ng-controller="chooseVideoCtrl">
	<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)"> {{alert.msg}} </uib-alert>
	<div id="menuGenerate" class="container col-lg-2">
		<a href="#/" role="button" class="btn-success btn col-lg-12 btn-lg">
			<span class="glyphicon-home glyphicon"></span> Home
		</a>
		<button type="button" ng-click="getNSendListIdVideo()" class="btn btn-primary col-lg-12 btn-lg">Generate</button>
		<button type="button" ng-click="playlistRandom()" class="btn btn-primary col-lg-12 btn-lg">Random generation</button>
	</div>
	<uib-accordion close-others="true" class="col-lg-8">/home/lautre/Documents/Cours/IDM/TP/projetIDM/IDMProject_jHipster/src/main/webapp/resources/videos/Vignettes/Russian_Dancing_Men.png
		<display-mandatory nom="Russian Dancing Men" index="0" url="resources/videos/Vignettes/Russian_Dancing_Men.png" id="v1"></display-mandatory>
		<display-alternative index="1" id="v2">
			<display-alternative-video nom="Amazing Horse" index="0" id="v21" url="resources/videos/Vignettes/Amazing_Horse.png"></display-alternative-video>
			<display-alternative-video nom="Narwhals" index="0" id="v22" url="resources/videos/Vignettes/Narwhals.png"></display-alternative-video>
			<display-alternative-video nom="Unicorn" index="0" id="v23" url="resources/videos/Vignettes/Unicorn.png"></display-alternative-video>
		</display-alternative>/home/lautre/Documents/Cours/IDM/TP/projetIDM/IDMProject_jHipster/src/main/webapp/resources/videos/Vignettes/Badgers.png
		<display-optional nom="Badgers" index="2" url="resources/videos/Vignettes/Badgers.png" id="v3"></display-optional>/home/lautre/Documents/Cours/IDM/TP/projetIDM/IDMProject_jHipster/src/main/webapp/resources/videos/Vignettes/Russian_Dancing_Men.png
		<display-mandatory nom="Russian Dancing Men" index="3" url="resources/videos/Vignettes/Russian_Dancing_Men.png" id="v4"></display-mandatory> 
	</uib-accordion> 
</div> 