<uib-accordion-group ng-init="status.open= (index === '0')" is-open="status.open" class="panel-danger">
  <uib-accordion-heading>
    Séquence <small>#{{index}}</small>
    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
  </uib-accordion-heading>
  <div ng-transclude="video"></div >
  <div class="col-lg-4">
    <h4><span class=" text-danger"> Alternatives </span></h4>
    Alternative selectionée : <br/>
    <div class="thumbnail" ng-show="videoSelect !== null">
      <img ng-src="{{videoSelect.url}}"/>
      <div class="caption"> {{videoSelect.nom}} </div>
      <input  type="hidden" class="seqId alternative" value="{{videoSelect.id}}">
    </div>
  </div>
  <uib-carousel interval="5000" no-wrap="false" class="col-lg-6" >
    <uib-slide ng-repeat="video in videos" active="video.active" >
        <img ng-src="{{video.url}}"/>
        <div class="carousel-caption">
          <h6 class="nomVideo {{video.id}}"> {{video.nom}} </h6>
          <button type="button" id="{{video.id}}" class="btn btn-primary btn-xs" ng-click="setVideoSelect(video)">
            Select
          </button>
        </div>
    </uib-slide>
  </uib-carousel>
</uib-accordion-group>
