<uib-accordion-group ng-init="status.open = (index === '0')" is-open="status.open" class="panel-success">
  <uib-accordion-heading>
    Séquence <small>#{{index}}</small>
    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
  </uib-accordion-heading>
    <div class="col-lg-4">
      <h4><span class=" text-success"> Obligatoire </span></h4>
      <h6> {{nom}} </h6>
      <input type="hidden" class="seqId mandatory" value="{{idVideo}}">
    </div>
    <div class="thumbnail col-lg-6">
      <img ng-src="{{url}}"/>
    </div>
</uib-accordion-group>
