<uib-accordion-group ng-init="status.open = (index === '0');videoSelect=false" is-open="status.open" class="panel-warning">
  <uib-accordion-heading>
    Séquence <small>#{{index}}</small>
    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
  </uib-accordion-heading>
    <div class="col-lg-4">
      <h4><span class=" text-warning"> Optional </span></h4>
      <h6> {{nom}} </h6>
      <button type="button" class="btn btn-primary btn-xs" ng-class="{'disabled' : videoSelect }" ng-click="videoSelect=true">Oui</button>
      <button type="button" class="btn btn-danger btn-xs" ng-class="{'disabled' : !videoSelect}" ng-click="videoSelect=false">Non</button>
      <input  type="hidden" class="seqId optional" ng-class="{'Oui' : videoSelect, 'Non' : !videoSelect,  }" value="{{idVideo}}">
    </div>
    <div class="thumbnail col-lg-6">
      <img ng-src="{{url}}"/>
    </div>
</uib-accordion-group>
